<div class="abacus-gallery">
    <h1 class="abacus-gallery__title">Looks like you're not on a team</h1>

    <div class="abacus-gallery__row">
        <tui-island hoverable="true" class="abacus-gallery__island">
            <h3 class="tui-island__title">
                Join a Team
            </h3>
            <p class="tui-island__paragraph abacus-gallery__island-body">
                Colllaborate with an existing Team using their unique referral code
            </p>
            <p class="tui-island__paragraph tui-island__paragraph_button">
                <button tuiButton type="button" (click)="openDialog()" appearance="secondary">Join</button>
            </p>
        </tui-island>

        <tui-island hoverable="true" class="abacus-gallery__island">
            <h3 class="tui-island__title">
                Start a team
            </h3>
            <p class="tui-island__paragraph abacus-gallery__island-body">
                Get started with a new team and invite members to join
            </p>
            <p class="tui-island__paragraph tui-island__paragraph_button">
                <button tuiButton type="button" appearance="secondary">Start</button>
            </p>
        </tui-island>
    </div>

</div>